# API Configuration
NUXT_PUBLIC_API_BASE=https://vpn.bits.co.id
NUXT_PUBLIC_GITHUB_PROXY_URL=https://raw.githubusercontent.com/bitscoid/Cloudflare-VPN/refs/heads/main/Proxy/proxyList.txt
NUXT_PUBLIC_FLAG_CDN=https://hatscripts.github.io/circle-flags/flags